.cancel{
    background-image:url('images/cancel.jpg');
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}